@charset "UTF-8";

@font-face {font-family: "AG-B";
    src: url("C:/Users/Kusaka/OneDrive/デスクトップ/root_html/fonts/ITCAvantGardePro-Bold.otf") 
    format("opentype");}
@font-face{font-family: "AG-XL";
    src:url("C:/Users/Kusaka/OneDrive/デスクトップ/root_html/fonts/ITCAvantGardePro-XLt.otf" ) 
    format("opentype");}
@font-face{font-family: "AG-M";
    src: url("c:/Users/Kusaka/OneDrive/デスクトップ/root_html/fonts/ITCAvantGardePro-Md.otf") 
    format("opentype");}

@font-face{font-family: Hiragino-W3;
    src:url("C:/Users/Kusaka/OneDrive/デスクトップ/root_html/fonts/ヒラギノ角ゴ Std W3.otf") 
    format("opentype")}

@font-face{font-family: Hiragino-W5;
    src:url("C:/Users/Kusaka/OneDrive/デスクトップ/root_html/fonts/ヒラギノ角ゴ Std W5.otf") 
    format("opentype")}

body{font-family:"AG-M", "Hiragino-W3", "Yu Gothic UI", sans-serif;
    color: #1D273B;
    background-color:#F7FAFA;
    font-size: 17px;
    line-height: 1.7;
    text-align: justify;
    width: 720px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    min-height: 100vh;}

a,a:visited{text-decoration: none;
    color:#1D273B;}

header{display: flex;
    justify-content: space-between;
    width: 720px;
    align-items: center;}

.logo{font-family: "AG-B";}

.navigation{text-align: justify;
    display: flex;}
    
.nav-item{margin: 20px 10px 20px 10px;}

main{width: 720px;
    position:relative;}

#Basemain{margin-top: 50px;
margin-bottom: 100px;}

.triangle1 {background: #FF0B43;
    height: 60px;
    width: 60px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    position:absolute;
    top: 0px;
    left:0px;}

.BaseIntro{display: flex;
    flex-direction: column;
    text-align: center;}

.greeting{color:#FF0B43;
    font-family: "AG-B";
    font-variant-ligatures: discretionary-ligatures;
    font-size: 110px;}

.name{color:#1D273B;
    font-family: "AG-B";
    font-variant-ligatures: discretionary-ligatures;
    font-size: 110px;
    font-feature-settings: "palt"}

#name-W{-moz-font-feature-settings: "salt" 2; 
    -webkit-font-feature-settings: "salt" 2; 
    font-feature-settings: "salt" 2;
    letter-spacing: -0.25em;}

.name-A{-moz-font-feature-settings: "salt" ; 
    -webkit-font-feature-settings: "salt" ; 
    font-feature-settings: "salt";}

.triangle2{background: #1D273B;
    height: 60px;
    width: 60px;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    position:absolute;
    bottom: 0px;
    right:0px;}

code{display: inline-block;
    padding: 0.1em 0.2em; /* 文字周りの余白 */
    color: #1D273B; /* 文字色 */
    background-color: #d9d9d9; /* 背景色 */
    border-radius: 3px; /* 角丸 */}

.Blog-head{display: flex;
    flex-direction: column;}

.Blog-title{font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;}

.Blog-date{border-bottom: 1px solid #1D273B;
    padding-bottom: 5px;
    padding-right: 120px;
    padding-left: 120px;
    margin-bottom: 20px;}

.Blog-head-item{margin: 0 auto 0 auto;}

.footnote{color: #FF0B43;
    vertical-align: top;}/* Blog記事の注釈 */

footer {margin-top: auto;}

#div-footer{margin: 0px auto;
    border-top: 1px solid #fff9f9;
    padding: 30px;}

